<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>ClPNXeWdxp8A98Vryq9PpRVYB20TrAMhXV82Y7YrS3owhx2hs4</string>
	<key>consumer_Key</key>
	<string>iYwpkeoR2QDLUmh581jAPyZ6e</string>
</dict>
</plist>
