<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>bjUfNBhRMMOWRyPyH5Axcymm8DyItmX6QU5WRsLs8WvV9z5SUG</string>
	<key>consumer_Key</key>
	<string>MexpHJKEOVuRbfzsm3Lu02dd8</string>
</dict>
</plist>
